# Database Connection (Supabase)
DATABASE_URL=
DIRECT_URL=

# Database Connection (MongoDB Atlas)
MONGODB_URI = 
MONGODB_NAME = 

# JWT Secret for session tokens (generate a random string)
JWT_SECRET=

# Phone Encryption Key (32 characters for AES-256)
ENCRYPTION_KEY=

# Environment
NODE_ENV="development"